<div id="<%= dom_id comment %>">
  <p>
    <strong>Comment:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong>By:</strong>
    <%= comment.user.email %>
  </p>

  <p>
    <strong> Post:</strong>
    <%= comment.post.content %>
  </p>

</div>
